<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <img src="../../../assets/img/gatoterno.png" />
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>Analista Programador Computacional</ion-card-subtitle>
      <ion-card-title>Javier Sandoval</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Creció en una ciudad llamada 'JavaScript', en la capital "Object oriented"
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="../../../assets/img/perroterno.png" />
    </ion-card-header>
    <ion-card-header> 
      <ion-card-subtitle>Analista Programador Computacional</ion-card-subtitle>
      <ion-card-title>Nicolas Cruz</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      No se sabe mucho de este personaje, aparte de causar la 3ra guerra mundial. 
    </ion-card-content>
  </ion-card>
</ion-content>

