<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-title id="header">
      <ion-label class="ion-text-center">
        <h1 id="h1">Welcome</h1>
      </ion-label>
      <ion-img src="../../../assets/img/duocuc.svg" alt="LogoDuoc"></ion-img>
    </ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">User</ion-label>
        <ion-input  type="string"
                    [(ngModel)]="user.name"
                    required
                    pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
                    placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input  type="password"
                    [(ngModel)]="user.password"
                    pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{4,6}$"
                    required></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button shape="full" (click)="login()">Login</ion-button>
  <ion-card>
<ion-content>
